<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <title> Assignment 4</title>

    <style>
        .wrap{
          margin: 20px auto;
          width: 500px;  
        }

        .product {
        width: 500px;
        height: 200px;
        background-image: url("http://blogfiles.naver.net/MjAyMDA0MjFfMjc3/MDAxNTg3NDQwNzUwODkz.OhP0JWgIba29jBHkos79_j2aSTFF7iE1YqajZbQuR60g.7Pk9o2DPMLV9kDll3L-7GCsEhxIxxUS15P1h0T3cqnog.JPEG.spartacoding/64473797_494089054661496_9180787225661538304_o.jpg");
        background-position: center;
        background-size: cover;

        margin: auto;
      }

        .lists{
            color: rgb(25, 104, 36);

        }
        .button{
            text-align: center;
        }
        .rate{
            color :red;
        }
    </style>

<script>

  $(document).ready(function () {
        $("#orders-box").html("");
        listing();
      });

    function order(){
        let box1 = $("#input1").val();
        let box2 = $("#input2").val();
        let box3 = $("#input3").val();
        let box4 = $("#input4").val();
       

        if (box1 == "") {
          alert("Your name please");
        } else if (box2 == 0){
          alert(" Chooese the Coures");
        } else if(box3 ==""){
          alert("Your address please so we can blackmail you");
        } else if(box4 == ""){
          alert("Your contact info");
        }else{
            alert("welcome onboard");
        }

    }
      



    $(document).ready(function(){
        $("#rate").empty();
	

    $.ajax({
  type: "GET", 
  url: " https://api.manana.kr/exchange/rate.json",
  data: {}, 
  success: function(response){ 
    
    let rate = response[1]['rate'];
    console.log(rate);
    let rate_html = `<li class="rate"> The Current USD/KRW Rate is ${rate} </li>`;
    $("#rate").append(rate_html);
  }
}) 

});



function make_order() {
            // 1. 구매자 성함 , 구매할 수업, 주소, 전화번호 가져옵니다.
            // 2. 구매자 성함 , 구매할 수업, 주소, 전화번호 중 입력하지 않았을 경우 alert를 띄웁니다.
            // 3. POST /order 에 저장을 요청합니다.
             // 3. POST /order 에 저장을 요청합니다.
        let name = $("#input1").val();
        let course = $("#input2").val();
        let address= $("#input3").val();
        let contact = $("#input4").val();

        

            $.ajax({
                type: 'POST', // 타입을 작성합니다.
                url: '/orders', // url을 작성합니다.
                data: {contact_give: contact, name_give: name, course_give: course, address_give:address}, // data를 작성합니다. },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg']);
                        window.location.reload();
                    }
                }
            });
        }

       

        function listing() {
           
            $.ajax({
                type: "GET",
                url: "/orders",
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                      /*alert(response['msg'] );*/
                     
                      let students = response['allstudents'];
                      for (let i = 0; i <students.length; i++) {
                        let name = students[i]["student_name"];
                        let course = students[i]["course"];
                        let address = students[i]["addresss"];
                        let contact = students[i]["contact"];

                        console.log(name,course,address,contact);

                        let temp_html = `<tr>                     
                                              <td>${name}</td>
                                              <td>${course}</td>
                                              <td>${address}</td>
                                              <td>${contact}</td>
                                          </tr>`; 
                          $("#orders-box").append(temp_html);  
                         
                      }
                   }                      
                  
                }  
              });
            
        }
        
  </script>
  </head>


  <body>
    
    <div class="wrap">
        <div class="product">
          <!-- <img src="http://blogfiles.naver.net/MjAyMDA0MjFfMjc3/MDAxNTg3NDQwNzUwODkz.OhP0JWgIba29jBHkos79_j2aSTFF7iE1YqajZbQuR60g.7Pk9o2DPMLV9kDll3L-7GCsEhxIxxUS15P1h0T3cqnog.JPEG.spartacoding/64473797_494089054661496_9180787225661538304_o.jpg"> -->
        </div>
        <div class="descrpition">
            <h1>Sparta Coding Club Courses</h1>
            <h3>Course Description </h3>
            <ui calss="rate" id="rate"> </ui>
            <p> Sparta Coding Club will help you to take the first step into "devleoper's life" There are 3 main courses </p>
            <ul class="lists"> 
                <li> Sparta club offline clas </li>
                <li>Sparta club online class</li>
                <li>Sparta Weekend Project</li>
            
            
            </ul>
            <div>
                <h1> Order </h1>


                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> Student Name</span>
                    </div>
                    <input type="text" id="input1" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01"> Select Course</label>
                    </div>
                    <select class="custom-select" id="input2">
                      <option selected value="0">Choose...</option>
                      <option value="1">Sparta club offline class</option>
                      <option value="2">Sparta club online class</option>
                      <option value="3">Sparta Weekend Project</option>
                    </select>
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" > Address </span>
                    </div>
                    <input type="text" id="input3"class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> Contact info</span>
                    </div>
                    <input type="text" id="input4" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
            </div>
            <div class="button">
            <button



          
              onclick="order();make_order();"
              type="button"
              class="btn btn-warning btn-lg"
            >
             Confirm
            </button>
        </div>
        <div class="orders">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"> Student Name</th>
                <th scope="col"> Course</th>
                <th scope="col"> Address</th>
                <th scope="col"> contact</th>
              </tr>
            </thead>
            <tbody id="orders-box"></tbody>
          </table>
        </div>
  </body>
</html>


