<!DOCTYPE html>
<html>
  <head>
    <title> Froggy Learns to Swim |Quiz App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/froggy_goestoschool_style.css') }}">

  </head>
  <body>
    <header class="header">
      <div class="container">
        <span class="logo_text">SKY쌤 English Book</span>
        <a href={{ url_for('home') }}>
        <h1 class="logo">
          <img src="{{ url_for('static', filename='img/logo.png') }}" />
          </a>
          
        </h1>
        <nav class="nav">
          <ul class="list">
            <li class="list-item"><a href={{ url_for('overview') }}>Overview</a></li>
            <li class="list-item"><a href={{ url_for('quiz') }}>Book Quiz</a></li>
            <li class="list-item"><a href={{ url_for('overview') }}>About</a></li>

          </ul>
        </nav>
      </div>
    </header>


  <img class="book-img"  src="{{ url_for('static', filename='img/21.png') }}" />
    <div class="quiz-box custome-box">
            <div class="question-number">Question 1 of 5</div>
              <div class ="book-title"><h1> Froggy Learns to Swim </h1></div>
                <div class="qustion-text"> Froggy went to ____ in stead of swimming</div>
                  <div class="option-container option">
                    <form name="form1">
                        <input type="radio" name="answer1" value="v1" /> Swing <br />
                        <input type="radio" name="answer1" value="v2" /> Home <br />
                        <input type="radio" name="answer1" value="v3" /> Snorkeling <br />
                        <input type="radio" name="answer1" value="v4" /> Bike<br />
                        </div>
                          <input class="btn" type="button" name="선택" value="정답확인" onclick="myFucntion1()"/>
                            </form>
                              <p id="check1"></p>
                                </div>  

        <div class="quiz-box custome-box">
          <div class="question-number">Question 2of 5</div>
            <div class ="book-title"><h1> Froggy Learns to Swim </h1></div>
              <div class="qustion-text"> Mom said “Don’t you know frogs born in the ___? “ </div>
                <div class="option-container option">
                  <form name="form2">
                      <input type="radio" name="answer2" value="v1" /> Egg <br />
                      <input type="radio" name="answer2" value="v2" /> Water  <br />
                      <input type="radio" name="answer2" value="v3" /> Ground <br />
                      <input type="radio" name="answer2" value="v4" /> Grass <br />
                      </div>
                        <input class="btn" type="button" name="선택" value="정답확인" onclick="myFucntion2()"/>
                          </form>
                            <p id="check2"></p>
                               </div>  

      <div class="quiz-box custome-box">
        <div class="question-number">Question 3of 5</div>
          <div class ="book-title"><h1> Froggy Learns to Swim </h1></div>
            <div class="qustion-text"> Froggy was ___ of swimming  </div>
              <div class="option-container option">
                <form name="form3">
                    <input type="radio" name="answer3" value="v1" /> happy  <br />
                    <input type="radio" name="answer3" value="v2" /> tired <br />
                    <input type="radio" name="answer3" value="v3" /> shocked <br />
                    <input type="radio" name="answer3" value="v4" /> afraid  <br />
                    </div>
                      <input class="btn" type="button" name="선택" value="정답확인" onclick="myFucntion3()"/>
                        </form>
                          <p id="check3"></p>
                            </div>  

      <div class="quiz-box custome-box">
        <div class="question-number">Question 4of 5</div>
          <div class ="book-title"><h1> Froggy Learns to Swim </h1></div>
            <div class="qustion-text"> Which one Froggy did NOT bring for swimming?  </div>
              <div class="option-container option">
                <form name="form4">
                    <input type="radio" name="answer4" value="v1" /> Bathing Suit <br />
                    <input type="radio" name="answer4" value="v2" /> Flippers <br />
                    <input type="radio" name="answer4" value="v3" /> Tube <br />
                    <input type="radio" name="answer4" value="v4" /> Snorkle Mask <br />
                    </div>
                     <input class="btn" type="button" name="선택" value="정답확인" onclick="myFucntion4()"/>
                      </form>
                        <p id="check4"></p>
                          </div>  


      <div class="quiz-box custome-box">
        <div class="question-number">Question 5of 5</div>
          <div class ="book-title"><h1> Froggy Learns to Swim </h1></div>
            <div class="qustion-text"> Froggy finally know how to swim and swim until _____. </div>
              <div class="option-container option">
                 <form name="form5">
                    <input type="radio" name="answer5" value="v1" /> lunch time <br />
                    <input type="radio" name="answer5" value="v2" /> mom and dad fall asleep <br />
                    <input type="radio" name="answer5" value="v3" /> very tired <br />
                    <input type="radio" name="answer5" value="v4" /> dinner time <br />
                    </div>
                      <input class="btn" type="button" name="선택" value="정답확인" onclick="myFucntion5()"/>
                        </form>
                          <p id="check5"></p>
                            </div>  
 
    
  
    <script type="text/javascript">
      function myFucntion1() {
        if (form1.answer1[0].checked == true)
          document.getElementById("check1").innerHTML = "정답입니다.";
        else document.getElementById("check1").innerHTML = "오답입니다.";
      }

         function myFucntion2() {
        if (form2.answer2[1].checked == true)
          document.getElementById("check2").innerHTML = "정답입니다.";
        else document.getElementById("check2").innerHTML = "오답입니다.";
      }

      function myFucntion3() {
        if (form3.answer3[3].checked == true)
          document.getElementById("check3").innerHTML = "정답입니다.";
        else document.getElementById("check3").innerHTML = "오답입니다.";
      }

      function myFucntion4() {
        if (form4.answer4[2].checked == true)
          document.getElementById("check4").innerHTML = "정답입니다.";
        else document.getElementById("check4").innerHTML = "오답입니다.";
      }

      function myFucntion5() {
        if (form5.answer5[1].checked == true)
          document.getElementById("check5").innerHTML = "정답입니다.";
        else document.getElementById("check5").innerHTML = "오답입니다.";
      }


      
    </script>
  
  </body>
</html>