.father {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
  grid-template-areas:
    "header header header header"
    "content content content nav"
    "content content content nav"
    "footer footer footer footer ";
}

.child {
  flex-basis: 30%;
  background: rgb(252, 214, 177);
  color: black;
}

.header {
  background-color: beige;
  grid-area: header;
}

.nav {
  background-color: rgb(185, 243, 158);
  grid-area: nav;
}

.content {
  background-color: rgb(122, 86, 110);
  grid-area: content;
}

.footer {
  background-color: rgb(100, 116, 168);
  grid-area: footer;
}
