<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./normalize.css" />
    <link rel="stylesheet" href="./style3.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900"
      rel="stylesheet"
    />
    <title> Sky쌤 | English Library</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h1 class="logo">
          <img
            src =""
            alt="SKY쌤 English Book"
           />
        </h1>
        <nav class="nav">
          <ul class="list">
            <li class="list-item"><a href="#">Overview</a></li>
            <li class="list-item"><a href="#">Book Quiz</a></li>
            <li class="list-item"><a href="#">About</a></li>

          </ul>
        </nav>
      </div>
    </header>
    <main class="main"> 
      
      <h2 > Read English Book and Take Quiz !</h2>
      <h3> 영어 독서 즐거운 퀴즈 와 함께 !</h3>
      <img class="main_pic" src="3.png" alt="Image">
      <div class="hero-section">
        <div class="container main2">
          <p class="intro-desc">
            집에 있는 영어책 한번만 읽고 끝 ?!
          </p>
          <a href="#" class="cta">
            Sky쌤이랑 공부하기
          
          </a>
        </div>
      </div>
      <div class="container-float">
        <div class="main-content">
          <h2 class="main-title"> 효과 적인 영어독서 방법</h2>
          <p class="main-desc">
            Subscribe to one of our mailing lists to stay up to date with
            everything in the Django community:
          </p>
        </div>

        
        <div class="update">
            <h3 class="update-title">
              <a href="#"> New Update </a>  
                <br>

           <div class="book_img">
                <img src="4.png"> </img>
                  </div>
                    <div class="book_desc">
                       <p> Froggt Goes to school</p><br><br>
                           </div>
                              <br>
                              <br>
                              
                                <label for="search"> 책 찾아보기 </label>
                                   <input for"serach" id="search"/>
                                      <button> 검색</button>
                                        
                                        </div>
                                      </div>


       
  
        <div class="side-content">
          사이드 콘텐츠
        </div>
     
    </main>
    <footer class="footer"> All right reserved @ skyler/footer>
  </body>
</html>
