<!DOCTYPE html>
<html>
  <head>
    <title>Quiz App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style5.css" />
  </head>
  <body>
    
         
  <img class="mySlides" src="7.Png" />

       




    

    <div class="quiz-box custome-box">

      <div class="question-number">Question 1 of 5</div>
      <div class ="book-title"><h1> Froggy Goes to School </h1></div>
      <div class="qustion-text"> How did Froggy go to school? </div>


<div class="option-container option">
  <form name="form">
    
        <input type="radio" name="answer" value="v1" />a<br />
        <input type="radio" name="answer" value="v2" />b<br />
        <input type="radio" name="answer" value="v3" />c<br />
        <input type="radio" name="answer" value="v4" />d<br />
        </div>
        <input
            class="btn"
            type="button"
            name="선택"
            value="정답확인"
            onclick="myFucntion()"
        />
            </form>
            <p id="check"></p>
        </div>  
 <div class="question-number">Question 2 of 5</div>
      <div class ="book-title"><h1> Froggy Goes to School </h1></div>
      <div class="qustion-text"> How did Froggy go to school? </div>


<div class="option-container option">
  <form name="form">
    
        <input type="radio" name="answer2" value="v1" />a<br />
        <input type="radio" name="answer2" value="v2" />b<br />
        <input type="radio" name="answer2" value="v3" />c<br />
        <input type="radio" name="answer2" value="v4" />d<br />
        </div>
        <input
            class="btn"
            type="button"
            name="선택"
            value="정답확인"
            onclick="myFucntion2()"
        />
            </form>
            <p id="check"></p>
        </div>  
    
    

         </div>

      

    <script type="text/javascript">
      function myFucntion1() {
        if (form.answer1[2].checked == true)
          document.getElementById("check").innerHTML = "정답입니다.";
        else document.getElementById("check").innerHTML = "오답입니다.";
      }

         function myFucntion2() {
        if (form.answer2[2].checked == true)
          document.getElementById("check").innerHTML = "정답입니다.";
        else document.getElementById("check").innerHTML = "오답입니다.";
      }

      

      
    </script>
  
  </body>
</html>
