@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;1,400;1,500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

.header {
  background: #17d39a;
  height: 72px;
  padding: 15px 0 4px;
}
.container,
.container-float {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
.container-float::after {
  display: block;
  content: "";
  clear: both;
}
.logo {
  margin: 0;
  padding-left: inherit;
  position: absolute;
  top: 0;
  left: 0;
}

.logo_text {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  margin-left: 50px;
  padding-bottom: 20px;
}
.nav {
  text-align: right;
}
.list {
  margin: 0;
  font-size: 0;
}
.list-item {
  font-weight: 700;
  display: inline-block;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.list-item > a {
  color: white;
  display: block;
  padding: 10px;
}
.list-item > a:hover {
  color: #2b2303;
}
body {
  margin: 0;
  font-size: 16px;
  background-color: #009688;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.book-img {
  max-width: 650px;
  max-height: 400px;
  width: auto;
  height: auto;
  margin: 50px 400px auto;
  text-align: center;
  border-radius: 10px;
}

.custome-box::before,
.custome-box::after {
  content: "";
  clear: both;
  display: table;
}

.custome-box {
  max-width: 700px;
  background-color: #ffffff;
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px;
}

.custome-box.hide {
  display: none;
}
/* 이거가 main 박스*/

.home-box p {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 22px;
}

.home-box p span {
  font-weight: 500;
}

.btn {
  padding: 15px 45px;
  background-color: #009688;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.quiz-box .question-number {
  font-size: 18px;
  color: #009688;
  font-weight: 600;
  border: 1px solid #cccccc;
  padding-bottom: 10px;
  line-height: 25px;
}

.quiz-box .qustion-text {
  font-size: 22px;
  color: #000000;
  line-height: 28px;
  font-weight: 400;
  padding: 20px 0;
  margin: 0;
}

.option {
  background-color: #cccccc;
  padding: 15px;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  text-transform: capitalize;
}

.quiz-box .btn {
  margin: 15px 0;
}
