* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

.wrap {
  margin: 20px auto;
  width: 500px;
}

.slidshow {
  display: block;
  max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto;
}

img {
  display: block;
  max-width: 600px;
  max-height: 500px;
  width: auto;
  height: auto;
  text-align: center;
  border-radius: 5px;
}

.w3-button {
  background-color: white;

  font-size: 20px;
}

.booktitle {
  background-color: white;
  border-radius: 5px;
}

.question-number {
  font-size: 18px;
  color: white;
}

.answer-option {
  background-color: #55c5a0;
  padding: 10px;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 20px;
  cursor: pointer;
  text-transform: capitalize;
}

.check-btn {
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
}

.quiz_container {
  background-color: #009688;
}

.quiz_section {
  background-color: white;
}
