.father {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  height: 100vh;
}
.child:nth-child(2) {
  background-color: rgb(90, 88, 88);
  color: white;
}

.child {
  flex-basis: 300px;
  height: 200px;

  background: rgb(159, 199, 233);
  color: black;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
